<form>

<fieldset>
	<legend>Informations sur la société: </legend>
	<label class="lb" >Nom complet de la société: </label> <input ng-model="nomSociete" class="txtField" type="text" placeholder="Saisissez le nom de la société" required/>
	<br/>
	<br/>

	<label  name="noEntreprise" class="lb">Numéro de l'entreprise: </label> <input ng-model="numereoSociete" class="txtField" type="text" placeholder="XXXX.XXX.XXX"  pattern="[0-9][0-9][0-9][0-9]+.+[0-9][0-9][0-9]+.+[0-9][0-9][0-9]" required/>

<!-- 				<div ng-messages="!formSkwarel.noEntreprise.$error" >
		<ng-message when="pattern">Veuillez saisir un numéro valide</ng-messages>

	</div> -->
	
	

	<br/>
	<br/>
	<label>Nombre d'employés: </label> <input ng-model="nbEmploye" type="number" min="1" max="300" required/>
	<br/>
	<br/>
	<hr/>
	<label>E-mail de la société: </label> <input ng-model="emailSociete" type="email" placeholder="@mail"/required>
	<br/>
	<br/>
	<label>Adressse de la société: </label> 
	<select ng-model="localisationSociete" required>
		<option value="30 C Cours Saint Michel">30 C Cours Saint-Michel</option>
		<option value="40 C Cours Saint Michel">40 C Cours Saint-Michel</option>
		<option value="50 C Cours Saint Michel">50 C Cours Saint-Michel</option>
	</select>

</fieldset>
<input class="validation" type="submit" value="Envoyer"> <input class="validation" type="reset" value="Effacer"/>

</form>

<h3>Enregistrement nouvelle entreprise:</h3>

<table style="width:100%" >
	<tr>
		<td>Entreprise: {{nomSociete}} </td>
		<td>Numéro: {{numereoSociete}} </td>
		<td>Nombre d'employés: {{nbEmploye}} </td>
		<td>Contact: {{emailSociete}} </td>
		<td>Localisation: {{localisationSociete}} </td>
	</tr>
</table>